<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367255248663-s2ab8ekc70dd07tkvpe3f2ej0q6t8n14.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367255248663-s2ab8ekc70dd07tkvpe3f2ej0q6t8n14</string>
	<key>API_KEY</key>
	<string>AIzaSyB8Z22FE70rXthf0TgOH1rdlg2Rxxx9bc8</string>
	<key>GCM_SENDER_ID</key>
	<string>367255248663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterNotifcationapp</string>
	<key>PROJECT_ID</key>
	<string>flutternotification-2b0f4</string>
	<key>STORAGE_BUCKET</key>
	<string>flutternotification-2b0f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367255248663:ios:8cf5f50df0af2103236152</string>
</dict>
</plist>